<button ion-button class="add-task-button" (click)="showForm()">
  <ion-icon name="add"></ion-icon>
</button>

<form *ngIf="show" (submit)="addTask()">
  <ion-item>
    <ion-label><ion-icon name="pencil"></ion-icon></ion-label>
    <ion-input no-label="Task:" [(ngModel)]="taskName" name="taskName"></ion-input>
  </ion-item>

  <div class="button-container">
    <ion-icon class="close" name="close-circle-outline" (click)="cancelForm()"></ion-icon>
    <ion-icon class="check" name="checkmark-circle-outline" (click)="submitTask()"></ion-icon>
  </div>
</form>