<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Todo-List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <app-add-task (taskAdded)="onTaskAdded($event)"></app-add-task>

  <ion-list>
    <ion-item *ngFor="let task of tasks">
      <ion-checkbox class="task-checkbox" [(ngModel)]="task.completed"></ion-checkbox>
      <span class="item-label" [ngClass]="{'completed': task.completed}">{{ task.name }}</span>
    </ion-item>
  </ion-list>
</ion-content>