ion-list {
    background: none;
}

.completed {
    text-decoration: line-through;
}

.item-label {
    margin-left: 10px;
    margin-right: 10px;
}

.trash-container {
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.trash {
    font-size: 2rem;
    color: rgb(108, 108, 255);
}

ion-icon.disabled {
    opacity: 0.5;
    pointer-events: none;
    color: rgb(210, 202, 202);
}